<h1><%= @rental.location %></h1>
<h4>Rental Cost: <%= @rental.price %></h4>

<p><%= link_to "Edit", edit_rental_path(@rental) %></p>
<%= link_to "Delete", rental_path,
                          data: {confirm: "Are you sure?",
                            method: "delete"} %>
